body {
	background-color: rgb(46,139,87);
}

h1 {
	font-style:  oblique;
	font-size: 100px;
	color: black;
	text-align: center;
}

.schriftgroeße {
	font-size: 50px;
}

#zeit{
	text-align: center;
}

div#memory_board{
	background:#CCC;
	border:#999 1px solid;
	width:720px;
	height:570px;
	padding:24px;
	margin:0px auto;
}
div#memory_board > div{
	background: url(memoryRückseite.png) no-repeat;
	border:#000 1px solid;
	width:80px;
	height:80px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}

#zurück{
	border: medium solid rgb(255,127,036);
	background-color: rgb(255,127,036);
	color: white;
}
#zurück:focus {
border: medium dotted white;
}
#zurück:active {
border: medium dotted darkgreen;
}

#erneutSpielen{
	border: medium solid rgb(255,127,036);
	background-color: rgb(255,127,036);
	color: white;
}
#erneutSpielen:focus {
border: medium dotted white;
}
#erneutSpielen:active {
border: medium dotted darkgreen;
}

#rangliste{
	border: medium solid rgb(255,127,036);
	background-color: rgb(255,127,036);
	color: white;
}
#rangliste:focus {
border: medium dotted white;
}
#rangliste:active {
border: medium dotted darkgreen;
}
