body{
    background-color: rgb(46,139,87);
}
table{
    border: 20px double rgb(255,215,0);
    border-radius: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 30px;
}
h1{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
    font-style: oblique;
    font-size: 150px;
}

#links{
    float: left;
    width: 200px;;
    height: 200px;
}
#rechts{
    float: right;
    width: 200px;
    height: 200px;
    transform: scaleX(-1);
}
