body {
	background-image:url(Bild.png);
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}
h1{
	position: absolute;
	top: 10%;
	left: 40%;
}
h2{
	position: absolute;
	top: 30%;
	left: 20%;
}
form{
	position: absolute;
	top: 50%;
	left: 40%;
}

#Bestätigen {
	position: absolute;
	top: 60%;
	left: 50%;
}

#anmelden {
	position: absolute;
	top: 60%;
	left: 60%;
}
